{% extends 'base.html.twig' %}

{% block title %}PhoneStock - Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur le panel de gestion PhoneStock !</h1>
    <h4>La gestion des stocks de téléphones simplifiée</h4>
    <div class="d-flex">
        <div class="card text-white bg-primary mb-3" style="min-width: 40rem;">
            <div class="card-header text-center">Total cumulé des stocks disponible</div>
            <div class="card-body">
                <h4 class="card-title text-center">{{ numPhones }}</h4>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="min-width: 40rem;">
            <div class="card-header text-center">3 derniers modèles en rupture de stock</div>
            <div class="card-body">
                <h4 class="card-title text-center">Lorem Ipsum</h4>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ path('phone.list') }}" class="btn btn-primary">Liste des Modèles</a>
        <a href="{{ path('phone.new') }}" class="btn btn-secondary">Ajouter un nouveau modèle</a>
    </div>
{% endblock %}
